//backgound svg
.custom-shape-divider-top-1633000458 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1633000458 svg {
  position: relative;
  display: block;
  width: calc(151% + 1.3px);
  height: 500px;
  transform: rotateY(180deg);
}

.custom-shape-divider-top-1633000458 .shape-fill {
  fill: #00b4d8;
}
