.header-section {
  margin: 1rem;
  width: calc(100% - 1rem);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 0 10px 0;
  border-bottom: 2px solid black;
  margin-bottom: 2rem;
}
.title-cls {
  margin-left: 20px;
}
